In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [ ]:
# Load raw dataset
df = pd.read_csv("../data/raw/student_data.csv")
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [ ]:
# Remove target variables from input features 
targets = ["G2", "G3"]
X = df.drop(columns=targets)
y = df[targets]

In [ ]:
# Convert categorical variables into numerical format using one-hot encoding
X_encoded = pd.get_dummies(X, drop_first=True)

In [ ]:
# Normalize all input features using Min-Max scaling, this ensures all features are on a comparable scale
scaler = MinMaxScaler()
X_scaled = pd.DataFrame(
    scaler.fit_transform(X_encoded),
    columns=X_encoded.columns
)

In [ ]:
# Recombine processed input features with target variables
df_cleaned = pd.concat([X_scaled, y.reset_index(drop=True)], axis=1)
df_cleaned.shape

(395, 42)

In [ ]:
# Save the processed dataset
df_cleaned.to_csv("../data/processed/student_data_cleaned.csv", index=False)